[Unit]
Description=uWSGI instance to serve Feuerwehr-Versorgungs-Helfer GUI
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=<Pfad zum Code>
Environment="PATH=<Pfad zum Code>/venv/bin"
ExecStartPre=/bin/sleep 30
ExecStart=<Pfad zum Code>/venv/bin/uwsgi --ini gui.ini

[Install]
WantedBy=multi-user.target
