<!DOCTYPE html>
<html>
<head>
    <title>Transaktionen für {{ user.nachname }}, {{ user.vorname }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h2>Transaktionen für {{ user.nachname }}, {{ user.vorname }} ({{ user.code }}) - Aktueller Saldo: {{ saldo }} {% if user.is_locked %} (gesperrt){% endif %}</h2>
    <p class="admin-link"><a href="{{ url_for('admin_dashboard') }}">Zurück zur Benutzerübersicht</a></p>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <h3>Transaktionen:</h3>
    {% if transactions %}
    <table>
        <thead>
            <tr>
                <th>Beschreibung</th>
                <th>Saldoänderung</th>
                <th>Zeitpunkt</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.beschreibung }}</td>
                <td>{{ transaction.saldo_aenderung }}</td>
                <td>{{ transaction.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Keine Transaktionen für diesen Benutzer vorhanden.</p>
    {% endif %}

    <form method="POST" onsubmit="return confirm('Möchtest du wirklich ALLE Transaktionen dieses Benutzers löschen?');">
        <input type="hidden" name="delete_transactions" value="true">
        <button type="submit">Alle Transaktionen löschen</button>
    </form>

<h3>Neue Transaktion hinzufügen:</h3>
<form method="POST" class="inline-form-transaction">
    <label for="beschreibung">Beschreibung:</label>
    <input type="text" id="beschreibung" name="beschreibung" value="Admin-Eintrag" required>

    <label for="saldo_aenderung">Änderung:</label>
    <input type="number" id="saldo_aenderung" name="saldo_aenderung" value="-1" required>

    <button type="submit" name="add_transaction">Hinzufügen</button>
</form>

    <h3>NFC-Token:</h3>
    {% if nfc_tokens %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Daten</th>
                <th>zuletzt verwendet</th>
                <th>Aktion</th>
            </tr>
        </thead>
        <tbody>
            {% for nfc_token in nfc_tokens %}
            <tr>
                <td>{{ nfc_token.token_id }}</td>
                <td>{{ nfc_token.token_name }}</td>
                <td>{{ nfc_token.token_daten.hex() }}</td>
                <td>{{ nfc_token.last_used }}
                    {% if nfc_token.last_used_days_ago == 0 %}
                    (heute)
                    {% else %}
                    (vor {{ nfc_token.last_used_days_ago }} Tagen)
                    {% endif %}
                </td>
                <td>
                    <form method="POST" class="compact-delete-form" onsubmit="return confirm('Möchtest du diesen Token wirklich löschen?');">
                        <input type="hidden" name="nfc_token_id" value="{{ nfc_token.token_id}}">
                        <button type="submit" name="delete_user_nfc_token" class="red-button">Löschen</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Noch keine NFC-Token hinterlegt.</p>
    {% endif %}


    <h3>neuen NFC-Token hinzufügen:</h3>
    <form method="POST" class="inline-form-transaction">
        <label for="nfc_token_name">NFC-Name:</label>
        <input type="text" id="nfc_token_name" name="nfc_token_name" title="Bitte gib deinem Token einen Namen.">
        <label for="nfc_token_daten">NFC-Daten (hexadezimal):</label>
        <input type="text" id="nfc_token_daten" name="nfc_token_daten" required pattern="[0-9A-Fa-f]{2,}" title="Bitte gib eine Hexadezimalzahl mit mindestens 2 Zeichen ein.">
        <button type="submit" name="add_user_nfc_token">Hinzufügen</button>
    </form>

    {% if user.is_locked %}
    <form method="POST" onsubmit="return confirm('Möchtest du diesen Benutzer wirklich entsperren?');">
        <input type="hidden" name="unlock_user" value="true">
        <button type="submit" class="red-button">Benutzer entsperren</button>
    </form>
    {% else %}
    <form method="POST" onsubmit="return confirm('Möchtest du diesen Benutzer wirklich sperren?');">
        <input type="hidden" name="lock_user" value="true">
        <button type="submit" class="red-button">Benutzer sperren</button>
    </form>
    {% endif %}

    <form method="POST" onsubmit="return confirm('ACHTUNG: Möchtest du diesen Benutzer WIRKLICH löschen? Alle zugehörigen Daten gehen verloren!');">
        <input type="hidden" name="delete_user" value="true">
        <button type="submit" class="red-button">Benutzer löschen</button>
    </form>
</body>
</html>
