<html><head><style>body {font-family: sans-serif;}</style></head>
<body>
    <h3>Hallo {{ vorname }},</h3>
    <p>wir hoffen, es geht dir gut!</p>
    <p>Kurze Info von uns:<br>
        Über das Gerät {{ beschreibung_transaktion }} wurde am {{ datum }} eine Transaktion {{ saldo_aenderung }} € gebucht.<br>
        Dein Konto für Getränke und Essen ist aktuell bei {{ neuer_saldo }} €.</p>
    <p>Viele Grüße<br>
    Dein Team von der Abteilung Getränke</p>
    {% if logo_exists_fuer_template %}
    <p><img src="cid:logo" alt="Logo Feuerwehr-Versorgungs-Helfer"></p>
    {% endif %}
</body>
</html>
