<html><head><style>body {font-family: sans-serif;} .svg-icon { width: 28px; height: 28px; fill: #2db8ca;}</style></head>
<body>
    <h3>Hallo {{ vorname }},</h3>
    <p>wir hoffen, es geht dir gut!</p>
    <p>Kurze Info von uns: Dein Kontostand für Getränke und Essen ist aktuell bei {{ saldo }} €.</p>
    <p>Bitte denk doch daran, es bei deinem nächsten Dienst oder bei Gelegenheit wieder auszugleichen. Sprich uns dafür einfach kurz an!</p>
    <p>Danke dir und viele Grüße<br>
    Dein Team von der Abteilung Getränke</p>
    {% if logo_exists_fuer_template %}
    <p><img src="cid:logo" alt="Logo Feuerwehr-Versorgungs-Helfer"></p>
    {% endif %}
    <p>PS: Wusstest du, dass du uns auch eine Einzugsermächtigung erteilen kannst?<br>
    So können wir das Guthaben auch einfach und bequem von deinem Konto abbuchen!</p>
    {% include 'email_include_footer.html'}
</body>
</html>
