<html><head><style>body {font-family: sans-serif;} .button { display: inline-block; padding: 12px 25px; margin: 20px 0; background-color: #007bff; color: #ffffff; text-decoration: none; border-radius: 5px; } .svg-icon { width: 28px; height: 28px; fill: #2db8ca;}</style></head>
<body>
    <h3>Hallo,</h3>
    <p>du möchtest dein Passwort für den Feuerwehr-Versorgungs-Helfer zurückzusetzen. Bitte klicke auf den folgenden Button, um ein neues Passwort festzulegen.</p>
    <p>Dieser Link ist für eine Stunde gültig.</p>
    <a href="{{ reset_url }}" class="button">Neues Passwort festlegen</a>
    <p>Wenn der Button nicht funktioniert, kopiere bitte den folgenden Link und füge ihn in die Adresszeile deines Browsers ein:</p>
    <p><a href="{{ reset_url }}">{{ reset_url }}</a></p>
    <p>Wenn du diese Anforderung nicht gestellt hast, kannst du diese E-Mail einfach ignorieren.</p>
    <p>Viele Grüße<br>
    Dein Team von der Abteilung Versorgung</p>
    {% if logo_exists_fuer_template %}
    <p><img src="cid:logo" alt="Logo Feuerwehr-Versorgungs-Helfer"></p>
    {% endif %}
    {% include 'email_include_footer.html' %}
</body>
</html>
