<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo/logo-120x164-alpha.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='logo/logo-1024x1024-alpha.png') }}" alt="App Logo" style="max-width: 200px; height: auto; display: block; margin: 0 auto 10px;">
    <div class="login-container">
        <h2>{{ app_name }} Login</h2>
        {% if app_slogan %}
            <p>{{ app_slogan }}</p>
        {% endif %}

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <form method="POST">
            <div>
                <label for="code">Benutzername (Code):</label>
                <input type="text" id="code" name="code" required>
            </div>
            <div>
                <label for="password">Passwort:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Einloggen</button>
        </form>
        <div class="link">
            <a href="{{ url_for('request_password_reset') }}">Passwort vergessen?</a><br />
            Noch kein Konto? <a href="{{ url_for('register') }}">Jetzt registrieren</a>
        </div>
    </div>
    {% include 'web_include_footer.html' %}
</body>
</html>
