<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benutzerinformationen</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo/logo-120x164-alpha.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h2>Hallo, {{ user.vorname }}!</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% if user.is_locked %}
    <h4 class="hinweis">Du bist momentan gesperrt! Bitte melde dich bei der Abteilung Verpflegung!</h4>
    {% endif %}

    <div class="container">
        <div class="column left-column">
            <p>Dein Benutzer-Code ist: <strong>{{ user.code }}</strong></p>
            {% if user.email %}
            <p>Deine Emailadresse ist: <strong>{{ user.email }}</strong></p>
            {% else %}
            <p>Du hast noch keine Emailadresse hinterlegt.</p>
            {% endif %}
            <h3>Saldo: {{ saldo }}</h3>

            <h3>Deine Transaktionen:</h3>
            {% if transactions %}
            <table class="zebra-table">
                <thead>
                    <tr>
                        <th>Beschreibung</th>
                        <th>Soll / Haben</th>
                        <th>Zeitpunkt</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.beschreibung }}</td>
                        <td>{{ transaction.saldo_aenderung }}</td>
                        <td>{{ transaction.timestamp }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>Noch keine Transaktionen vorhanden.</p>
            {% endif %}

            <h3>Deine registrierten NFC-Token:</h3>
            {% if nfc_tokens %}
            <table class="zebra-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Daten</th>
                        <th>zuletzt verwendet</th>
                    </tr>
                </thead>
                <tbody>
                    {% for nfc_token in nfc_tokens %}
                    <tr>
                        <td>{{ nfc_token.token_name }}</td>
                        <td>{{ nfc_token.token_daten.hex() }}</td>
                        <td>{{ nfc_token.last_used }}
                            {% if nfc_token.last_used_days_ago == 0 %}
                            (heute)
                            {% else %}
                            (vor {{ nfc_token.last_used_days_ago }} Tagen)
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>Noch keine NFC-Token hinterlegt.</p>
            {% endif %}

            <div class="qr-code-section">
                <h3>Deine QR-Codes:</h3>
                <img class="qr-code-image" src="{{ url_for('generate_qr', usercode=user.code, aktion="a") }}" alt="QR-Code Transaktion buchen">
                <img class="qr-code-image" src="{{ url_for('generate_qr', usercode=user.code, aktion="k") }}" alt="QR-Code Kontostand abfragen">
                <p>Lege dir die beiden Bilder am besten auf deinem Handy ab.</p>
            </div>
        </div>

        <div class="column right-column">
            <div class="form-section">
                <h3>Passwort ändern:</h3>
                <form method="POST" name="change_password" class="password-form"> <input type="hidden" name="change_password" value="true">
                    <div>
                        <label for="current_password">Aktuelles Passwort:</label>
                        <input type="password" id="current_password" name="current_password" required>
                    </div>
                    <div>
                        <label for="new_password">Neues Passwort:</label>
                        <input type="password" id="new_password" name="new_password" required>
                    </div>
                    <div>
                        <label for="confirm_new_password">Neues Passwort bestätigen:</label>
                        <input type="password" id="confirm_new_password" name="confirm_new_password" required>
                    </div>
                    <button type="submit">Passwort ändern</button>
                </form>
            </div>

            <div class="form-section" style="margin-top: 20px;">
                <h3>Emailadresse ändern:</h3>
                <form method="POST" name="change_email">
                    <input type="hidden" name="change_email" value="true">
                    <div>
                        <label for="new_email">Neue Emailadresse:</label>
                        <input type="email" id="new_email" name="new_email" value="{{ user.email if user.email else '' }}">
                    </div>
                    <button type="submit">Emailadresse ändern</button>
                </form>
            </div>

            {% if user.email %}
            <div class="form-section" style="margin-top: 20px;">
                <h3>E-Mail-Benachrichtigungen verwalten:</h3>
                <form method="POST" name="update_notification_settings">
                    <label for="update_notification_settings">Wir schicken dir eine E-Mail</label>
                    <input type="hidden" name="update_notification_settings" value="true">
                    {% if all_notification_types %}
                        {% for n_type in all_notification_types %}
                        <div class="checkbox-group" style="margin-bottom: 10px;">
                            <label for="notification_type_{{ n_type.id }}">
                                <input type="checkbox" id="notification_type_{{ n_type.id }}" name="notification_type_{{ n_type.id }}" value="{{ n_type.id }}"
                                {% if user_notification_settings.get(n_type.id) %}checked{% endif %}>
                                {{ n_type.beschreibung }}
                            </label>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p>Keine Benachrichtigungsoptionen verfügbar.</p>
                    {% endif %}
                    {% if all_notification_types %}
                    <button type="submit" style="margin-top: 10px;">Benachrichtigungen speichern</button>
                    {% endif %}
                </form>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="admin-link" style="margin-top: 20px;"> {% if user.is_admin %}
        <a href="{{ url_for('admin_dashboard') }}">Zum Admin-Dashboard</a> |
        {% endif %}
        <a href="{{ url_for('logout') }}">Abmelden</a>
    </div>
    <div>
        <a href="https://github.com/magenbrot/Feuerwehr-Versorgungs-Helfer" title="Quellcode ansehen" target="_blank" class="styled-link">Version {{ version }} (github.com)</a>
        <a href="https://github.com/sponsors/magenbrot" title=""Sponsoring Link" target="_blank" class="styled-link">Unterstütze die Entwicklung</a>
    </div>

</body>
</html>
