<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo/logo-120x164-alpha.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h2>Willkommen, {{ user.vorname }} {{ user.nachname }}!</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <div class="container">
        <div class="column left-column">
            <h3>Benutzerverwaltung</h3>
            <div class="admin-link">
                <a href="{{ url_for('admin_bulk_change') }}">Sammelbuchung</a> |
                <a href="{{ url_for('add_user') }}">Neuen regulären Benutzer hinzufügen</a> |
                <a href="{{ url_for('admin_api_user_manage') }}">API-Benutzer verwalten</a>
            </div>
            <h3>Übersicht der {{ app_name }}-Benutzer:</h3>
            {% if users %}
            <table class="zebra-table">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Kommentar</th>
                        <th>Saldo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in users %}
                    <tr>
                        <td><a href="{{ url_for('admin_user_modification', target_user_id=u.id) }}">{{ u.code }}</a></td>
                        {% if u.is_locked %}
                        <td style="color:red;">{{ u.nachname }}, {{ u.vorname }}</td>
                        {% elif u.is_admin %}
                        <td style="color:rgb(16, 152, 6);">{{ u.nachname }}, {{ u.vorname }}</td>
                        {% else %}
                        <td>{{ u.nachname }}, {{ u.vorname }}</td>
                        {% endif %}
                        <td>{{ u.email if u.email is not none else '' }}</td>
                        <td>{{ u.kommentar if u.kommentar is not none else '' }}</td>
                        <td>{{ saldo_by_user.get(u.id, 0) }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>Es sind {{ users | length }} Benutzer vorhanden. Diese verfügen insgesamt über ein Guthaben von {{ user_saldo_all }} €.</p>
            {% else %}
            <p>Keine Benutzer vorhanden.</p>
            {% endif %}
        </div>

        <div class="column right-column">
            <div class="form-section" style="margin-top: 20px;">
                <h4>Systemeinstellungen</h4>
                <form method="POST" action="{{ url_for('admin_dashboard') }}">
                    <input type="hidden" name="update_system_settings" value="true">
                    {% if system_settings %}
                        {% for key, setting_data in system_settings.items() %}
                        <div class="form-group" style="margin-bottom: 15px;">
                            <label for="{{ key }}">{{ setting_data.beschreibung or key.replace('_', ' ')|title }}:</label>
                            {% if key == 'MAX_NEGATIVSALDO' %}
                            <input type="number" id="{{ key }}" name="{{ key }}" value="{{ setting_data.wert }}" required class="form-control" style="width: 100px; padding: 8px; margin-top: 5px;">
                            {% elif key == 'TRANSACTION_SALDO_CHANGE' %}
                            <input type="number" id="{{ key }}" name="{{ key }}" value="{{ setting_data.wert }}" required class="form-control" style="width: 100px; padding: 8px; margin-top: 5px;">
                            {% else %}
                            <input type="text" id="{{ key }}" name="{{ key }}" value="{{ setting_data.wert }}" required class="form-control" style="padding: 8px; margin-top: 5px;">
                            {% endif %}
                        </div>
                        {% endfor %}
                        <button type="submit" class="button" style="margin-top: 10px;">Systemeinstellungen speichern</button>
                    {% else %}
                        <p>Keine Systemeinstellungen zum Konfigurieren vorhanden oder sie konnten nicht geladen werden.</p>
                    {% endif %}
                </form>
            </div>
            {% include 'web_include_info_block.html' %}
        </div>
    </div>
    <div class="admin-link">
        <a href="{{ url_for('user_info') }}">Zur eigenen Benutzeransicht</a> |
        <a href="{{ url_for('logout') }}">Abmelden</a>
    </div>
    {% include 'web_include_footer.html' %}
</body>
</html>
