name: Publish Docker images

on:
  release:
    types: [published]

jobs:
  push_to_registries:
    name: Build and Push API and GUI
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # --- Metadata for API ---
      - name: Extract metadata for API
        id: meta_api
        uses: docker/metadata-action@v5
        with:
          images: |
            magenbrot/fvh-api
            ghcr.io/${{ github.repository }}-api

      # --- Metadata for GUI ---
      - name: Extract metadata for GUI
        id: meta_gui
        uses: docker/metadata-action@v5
        with:
          images: |
            magenbrot/fvh-gui
            ghcr.io/${{ github.repository }}-gui

      # --- Build and Push API ---
      - name: Build and push API image
        uses: docker/build-push-action@v6
        with:
          context: .
          target: api
          push: true
          tags: ${{ steps.meta_api.outputs.tags }}
          labels: ${{ steps.meta_api.outputs.labels }}

      # --- Build and Push GUI ---
      - name: Build and push GUI image
        uses: docker/build-push-action@v6
        with:
          context: .
          target: gui
          push: true
          tags: ${{ steps.meta_gui.outputs.tags }}
          labels: ${{ steps.meta_gui.outputs.labels }}
