name: Publish Docker image

on:
  release:
    types: [published]

jobs:
  push_to_registries:
    name: Push Docker image to multiple registries
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            magenbrot/feuerwehr-versorgungs-helfer-api
            ghcr.io/${{ github.repository }}

      - name: Build and push API Image
        uses: docker/build-push-action@v6
        with:
          context: .
          target: api
          push: true
          tags: |
            magenbrot/feuerwehr-versorgungs-helfer-api:latest
            magenbrot/feuerwehr-versorgungs-helfer-api:${{ github.event.release.tag_name }}
            ghcr.io/${{ github.repository }}-api:latest

      - name: Build and push GUI Image
        uses: docker/build-push-action@v6
        with:
          context: .
          target: gui
          push: true
          tags: |
            magenbrot/feuerwehr-versorgungs-helfer-gui:latest
            magenbrot/feuerwehr-versorgungs-helfer-gui:${{ github.event.release.tag_name }}
            ghcr.io/${{ github.repository }}-gui:latest
