name: Run Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]

    env:
      MYSQL_HOST: 127.0.0.1
      MYSQL_PORT: 3306
      MYSQL_USER: test_user
      MYSQL_PASSWORD: test_password
      MYSQL_DB: test_db
      SMTP_HOST: localhost
      SMTP_PORT: 25
      SMTP_USER: test_sender
      SMTP_PASSWORD: test_password
      SMTP_SENDER: test@example.com
      APP_SECRET: test_secret_key
      API_DEBUG: True
      GUI_DEBUG: True
      TESTING: True


    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        if [ -f requirements-dev.txt ]; then pip install -r requirements-dev.txt; fi

    - name: Run tests with pytest
      run: |
        pytest
